### Importing Data

- ##### Process of loading and reading data into python from various resources.

- ##### Two important Properties:

- ##### format
##### various formats: .csv, .json, .xlsx, .hdf........

- ##### File Path of dataset
##### Computer:/Desktop/mydata.csv
##### Internet:https://archive.ics.uci.edu/autos/imports-85.data

### Importing a CSV into python

In [2]:
import pandas as pd
url=pd.read_csv("Desktop//Data Science Bootcamp//Dataset//Dataset,+lesson+4.+imports-85.data")
print(url)

     3    ?  alfa-romero     gas    std   two  convertible  rwd  front  88.60  \
0    3    ?  alfa-romero     gas    std   two  convertible  rwd  front   88.6
1    1    ?  alfa-romero     gas    std   two    hatchback  rwd  front   94.5
2    2  164         audi     gas    std  four        sedan  fwd  front   99.8
3    2  164         audi     gas    std  four        sedan  4wd  front   99.4
4    2    ?         audi     gas    std   two        sedan  fwd  front   99.8
..  ..  ...          ...     ...    ...   ...          ...  ...    ...    ...
199 -1   95        volvo     gas    std  four        sedan  rwd  front  109.1
200 -1   95        volvo     gas  turbo  four        sedan  rwd  front  109.1
201 -1   95        volvo     gas    std  four        sedan  rwd  front  109.1
202 -1   95        volvo  diesel  turbo  four        sedan  rwd  front  109.1
203 -1   95        volvo     gas  turbo  four        sedan  rwd  front  109.1

     ...  130  mpfi  3.47  2.68  9.00  111  5000  21  27  13495
0    ...  130  mpfi  3.47  2.68   9.0  111  5000  21  27  16500
1    ...  152  mpfi  2.68  3.47   9.0  154  5000  19  26  16500
2    ...  109  mpfi  3.19  3.40  10.0  102  5500  24  30  13950
3    ...  136  mpfi  3.19  3.40   8.0  115  5500  18  22  17450
4    ...  136  mpfi  3.19  3.40   8.5  110  5500  19  25  15250
..   ...  ...   ...   ...   ...   ...  ...   ...  ..  ..    ...
199  ...  141  mpfi  3.78  3.15   9.5  114  5400  23  28  16845
200  ...  141  mpfi  3.78  3.15   8.7  160  5300  19  25  19045
201  ...  173  mpfi  3.58  2.87   8.8  134  5500  18  23  21485
202  ...  145   idi  3.01  3.40  23.0  106  4800  26  27  22470
203  ...  141  mpfi  3.78  3.15   9.5  114  5400  19  25  22625

[204 rows x 26 columns]

### Importing a CSV without a header

In [8]:
import pandas as pd
url= pd.read_csv(("Desktop//Data Science Bootcamp//Dataset//Dataset,+lesson+4.+imports-85.data"),header= None)

### Exporting a Pandas dataframe to CSV

In [16]:
path=df.to_csv("Desktop//Data Science Bootcamp//Dataset//Dataset,+lesson+4.+imports-85.data")
print(path)

None